.menu_bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  display: flex;
  position: fixed;
  left: 2vw;
  color: white;
  height: 4vh;
  width: 4vw;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.intro_span {
  background: rgba(255, 255, 255, 0.79);
  line-height: 2vh;
}

.hidden {
  left: -100%;
  transition: 200ms;
  display: none;
}

.nav_text {
  color: white;
  text-align: center;

}

.close_icon {
  color: white;
  display: flex-end;
  width: 3vw;
  padding-left: 11vw;
  padding-top: 3vh;
  cursor: pointer;
}

.icons {
  width: 14vw;
}

/* TEST CSS */

.nav_bar {
  background-color: #2f4050;
  height: 10vh; 
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
} 


.body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(180deg, #a3bded, #6991c7)
}


.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}



.sidebar {
  height: 90vh;
  width: 17vw;
  top: 0;
  position: fixed;
  background-color: #2f4050;
  display: flex;
  align-content: center;
  transition: 300ms;
  z-index: 2;
}

.sidebar.active{
  left: 0;
  transition: 350ms;
}

.sidebar_list {
  height: auto;
  padding: 0;
  width: 100%;
}

.sidebar_list .nav_item {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sidebar_list .nav_item:hover {
  cursor: pointer;
  background-color: #293846;
}
.sidebar_list #active {
  background-color: #293846;
}
.nav_item .navicon {
  flex: 30%;
  display: grid;
  place-items: center;
  text-decoration: none;
}

.link_txt {
  text-decoration: none;
  color: white;
}
.link_txt:hover {
  text-decoration: none;
  color: white;
}

.nav_item .navtitle {
  flex: 70%;
  text-decoration: none;
}

.main_page {
  width: auto;
  height: 100%;
}

.icons {
  width: 12vw;
  flex-wrap: wrap;
}

.skill_card {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  transition: transform 600ms;
  transform-style: preserve-3d;
}

.svg_div:hover .skill_card {
  transform: rotateX(180deg);
}

.skill_card_front, .skill_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.skill_card_front {
  background-color: transparent;
  backface-visibility: hidden;
}

.skill_card_back {
  background-color: white;
  font-size: 1.3vh;
  justify-content: center;
  align-items: center;
  color: black;
  transform: rotateX(180deg);
  margin: 0 auto;
}

.card_txt {
  text-align: left;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  font-size: 12px;
}

.skills_box {
  width: 85%;
  height: 85%;
  background-color: white;
  justify-content: space-evenly;
  align-content: space-evenly;
  display: grid;
  position: relative;
  grid-template-columns: 30% 30% 30%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.svg_div {
  text-align: center;
  font-size: 2vh;
  width: 100%;
  height: 12vh;
  perspective: 1000px;
}

.title_div {
  height: 13vh;
  width: 100%;
  display: flex;
  background-color: #2f5678;
  align-items: center;
  color: white;
}

.section_title {
  padding-left: 2vw;
}

.skills_div {
  height: 100vh;
  width: 100%;
  padding-top: 3vh;
  padding-bottom: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #a3bded, #6991c7);
  box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.5), 0 2px 10px 0 rgba(0,0,0,0.5);
}

.can_txt {
  position: absolute;
  margin: 0 auto;
  padding-top: 15vh;
  padding-left: 7vw;
  font-size: 7vh;
  color: #2e3f4f;
}

.btm_txt {
  position: absolute;
  margin: 0 auto;
  padding-top: 2vh;
  padding-left: 4vw;
  font-size: 2vh;
  line-height: 3vh;
  color:  #252a2e;
  z-index: 1;
}

.inner_card {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  transition: transform 700ms;
  transform-style: preserve-3d;
}

.card_front, .card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.project:hover .inner_card {
  transform: rotateY(180deg);
}

.card_back {
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  color: black;
  transform: rotateY(180deg);
  justify-content: center;
  align-items: center;
}

.card_front {
  color: black;
  backface-visibility: hidden;
}

.project_image {
  display: flex;
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.project_div {
  width: 100%;
  height: 210vh;
  position: relative;
  justify-content: space-evenly;
  align-content: space-evenly;
  display: grid;
  grid-template-columns: 80%;
  background: linear-gradient(180deg, #a3bded, #6991c7);
  box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.5), 0 2px 10px 0 rgba(0,0,0,0.5);
}

.project {
  margin: 0 auto;
  position: relative;
  display: flex;
  width: 90%;
  height: 40vh;
}

.project_text {
  width: 100%;
  height: 30vh;
  color: black;
  padding-left: 1vw;
  text-align: left;
  font-size: 12px;
}

.p_title {
  padding-left: 0.5vw;
  color: black;
  font-size: 4vh;
  padding-bottom: 2vh;
  text-decoration: black underline;
}

.about_div {
  padding-top: 3vh;
  padding-bottom: 3vh;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #a3bded, #6991c7);
  box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.5), 0 2px 10px 0 rgba(0,0,0,0.5);
}

.text_box {
  background-color: white;
  width: 85%;
  height: 85%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  justify-content: center;
  margin: auto;
  text-align: center;
}

.first_text {
  font-size: 5vh;
  width: 95%;
  margin: auto;
}

.main_text {
  size: 3vh;
  width: 90%;
  margin: auto;
  text-align: left;
  padding-top: 2vh;
  text-indent: 5%;
}

.last_text {
  size: 3vh;
  width: 90%;
  text-align: left;
  margin: auto;
  padding-top: 2vh;
  text-indent: 5%;
  padding-bottom: 2vh;
}

.input_div {
  width: 100%;
  background-color: white;
  margin-bottom: 2vh;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.input {
  width: 100%;
  height: 7vh;
}

.form_div {
  background: none;
  width: 85%;
  height: 85%;
  justify-content: center;
}

.textarea {
  width: 100%;
  height: 25vh;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  margin-bottom: 3vh;
}

.submit {
  background-color: #2f5678;
  color: white;
  height: 5vh;
  width: 35vw;
  border-radius: 5px;
}

.canvas {
  padding-top: 10vh;
  height: auto;
  width: 100%;
}

#particle {
  height: auto;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  display: flex;
}

.intro_div {
  background-image: rgba(47, 64, 80, 0.8);
  background-color: black;
}

.contact_div {
  padding-top: 3vh;
  display: flex;
  width: 100%;
  height: 105%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #a3bded, #6991c7);
  overflow-y: hidden;
  box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.5), 0 2px 10px 0 rgba(0,0,0,0.5);
}

.submitbtn {
  padding-bottom: 2vh;
}

@media (min-width: 650px){
  .btm_txt{
    font-size: 3vh;
    line-height: 4vh;
    padding-top: 4vh;
  }
  
  .project_div{
    height: 280vh;
  }

  .project {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 775px) {
  .project_div{
    height: 300vh;
  }

  .icons {
    width: 9vw;
  }

  .card_txt {
    font-size: 12px;
  }

  .project {
    margin-top: 0;
    margin-bottom: 0;
  }

  .project_image {
    height: 50vh;
  }
}

@media (min-width: 1000px) {
  .icons{
    width: 7vw;
  }

  .skill_card_back {
    font-size: 2.5vh;
  }

  .canvas{
    padding-top: 0vh;
  }

  .nav_bar {
    background-color: #2f4050;
    height: 20vh; 
    display: flex;
    position: fixed;
    width: 17vw;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
  } 
  .menu_bars {
    display: none;
  }

  .close_icon {
    display: none;
  }

  .sidebar {
    left: 0;
    height: 80%;
    margin-top: 20vh;
  }

  .skills_box {
    grid-template-columns: 20% 20% 20% 20%;
  }

  .project_div {
    grid-template-columns: 40% 40%;
    height: 100vh;
  }

  .project {
    height: 40.5vh;
    width: 100%;
    margin: 0 auto;
  }

  .project_image {
    height: 40.5vh;
    margin: 0 auto;
    padding: 0 auto;
  }

  .inner_card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 700ms;
    transform-style: preserve-3d;
  }


  .main_page {
    width: auto;
    margin-left: 17vw;
  }

  .hidden {
    height: 80vh;
    margin-top: 20vh;
    width: 17vw;
    top: 0;
    position: fixed;
    background-color: #2f4050;
    display: flex;
    align-content: center;
    left: 0;
  }

  .btm_txt {
    position: absolute;
    margin: 0 auto;
    padding-top: 5vh;
    padding-left: 7vw;
    font-size: 5vh;
    line-height: 7vh;
    color: #252a2e;
    z-index: 1;
  }

  .submit {
    background-color: #2f5678;
    color: white;
    height: 5vh;
    width: 12vw;
    border-radius: 5px;
  }

  .card_txt {
    font-size: 16px;
  }

  .project_text {
    font-size: 18px;
  }

}